// Add your custom styles here

// Custom styles for the Stately marketing site

.home-side-image-wrapper {
  position: relative;
  top: -60px;
  height: 642px;
}

.home-side-image {
  position: absolute;
  left: -580px;
  width: 842px;
  height: 642px;
}

////////

@media (max-width: 768px) {
  .home-side-image-wrapper {
    display:none;
  }
}
