<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width">
    <link href="./assets/fonts/Lato2OFLWeb/LatoLatin/latolatinfonts.css" rel="stylesheet">
    <link href="./assets/fonts/Lora/lora.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ "assets/css/stately.css" | absolute_url }}">
    <script src="{{ "assets/js/stately.js" | absolute_url }}" ></script>
    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png">
    <link rel="manifest" href="/assets/favicons/site.webmanifest">
    <link rel="mask-icon" href="/assets/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/assets/favicons/favicon.ico">
    <link rel="me" href="https://mstdn.ca/@austin">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="msapplication-config" content="/assets/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    {% seo %}
</head>
