<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width">
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
    <link href="./assets/fonts/Lato2OFLWeb/LatoLatin/latolatinfonts.css" rel="stylesheet">
    <link href="./assets/fonts/Lora/lora.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ "assets/css/stately.css" | absolute_url }}">
    <script src="{{ "assets/js/stately.js" | absolute_url }}" ></script>
  </head>