<nav class="site-nav py-4 bg-white">
  <div class="container-lg px-4">
    <div class="d-flex flex-justify-between flex-items-center">
      <div>
        <a class="heading-beta no-underline" href="{{ "/" | relative_url }}">{% unless site.nav_logo_file == nil %}<img src="{{ site.nav_logo_file | absolute_url }}" alt="" class="site-logo mr-2">{% endunless %}{{ site.title }}</a>
      </div>
      <button type="button" name="Open nav" class="site-nav-trigger js-site-nav-trigger">
        Menu
      </button>
      <ol class="site-nav-items list-style-none js-site-nav-list">
        {% assign pages_list = site.pages | sort:"url" %}
          {% for node in pages_list %}
            {% if node.ntitle != null %}
              {% if node.nav == true %}
                <li class="site-nav-item mb-0{% unless forloop.last %} mr-3{% endunless %} js-site-nav-item">
                  <a class="site-nav-link{% if page.url == node.url or layout.active == node.title or page.active == node.title %} active{% endif %}" href="{{ node.url | absolute_url }}">
                    {{ node.ntitle }}
                  </a>
                </li>
              {% endif %}
            {% endif %}
          {% endfor %}
      </ol>
    </div>
  </div>
</nav>
